<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>상품검색기</title>
	<link rel="stylesheet" href="../css/all.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/02.search.css">
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="input-wp my-5">
				<input type="text" class="form-control form-control-lg search" v-model="search" autofocus v-on:keyup="onKeyup">
				<i class="fa fa-times-circle bt-remove" v-show="search.length" v-on:click="onRemove"></i>
			</div>
			<ul class="prd-wrap">
				<li class="prd" v-for="v in prds">
					<img v-bind:src="v.src" v-bind:alt="v.title" class="w-100 img">
					<div class="title">{{ v.title }}</div>
					<div class="price">${{ v.price }}</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="../js/lodash.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="../js/02.search.js"></script>
</body>
</html>